footer{
	background: #009F9A;
	border-top: 7px solid #098C87;
	margin-top: 40px;
	span{
		font-family: 'PT Sans', sans-serif;
		padding-top: 50px;
		padding-bottom: 50px;
		text-align: center;
		color: white;
	}
	#analytics{
		display: none;
	}
}