@media (max-width: 1024px) {
  li{
     padding-left: 3px !important;
  }
  header a {
    padding-right: 9px !important;
    padding-left: 9px !important;
  }
  #slider .slide-item .slide-contenido h2{
    padding-top: 27px;
    font-size: 2.5em;
  }
  #slider .slide-item .slide-contenido p{
    margin-top: 10px;
    font-size: 17px;
    line-height: 20px;
  }
  #slider .slide-item .slide-contenido .h-small{
    font-size: 1.9em;
   }
}

@media (max-width: 873px) {
  header a {
    font-size: 11px !important;
  }
  #slider .slide-item .slide-contenido h2{
    font-size: 2em;
  }
  #slider .slide-item .slide-contenido p{
    //font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  #slider .slide-item .slide-contenido a{
    font-size: 18px !important;
  }
  #slider .slide-item .slide-contenido .h-small{
    font-size: 1.7em;
   }
    #cap-y-ta .ed-item{
    padding: 0px 0px 0px 0px !important;
  }

}

.slicknav_menu {
  display:none;
  z-index: 100;
  position: fixed;
  width: 100%;
}

@media screen and (max-width: 768px) {
  /* #menu is the original menu */
  #menu {
    display: none;
  }
  
  .slicknav_menu {
    display: block;
  }

  header{
    border-top: none;
    top: 54px;
    position: relative;
  }
  header h1 img{
    position: relative;
    margin-top: -36px;
    display: block;
    clear: both;
    margin-right: auto !important;
    margin-left: auto !important;

  }

  #divisor{
    height: 50px;
  }

  #slider{
   //top: 50px;
   //height: 220px;
   overflow: visible !important;
  }

  #slider .slide-item{
    position: relative;
  }

  #slider .slide-item .btn-movil{
    display: block;
    position: absolute;
    bottom: 0;
    background: rgba($verde-uno,.7);
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-family: $pt;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;

  }

  #slider #sl-1, #slider #sl-2, #slider #sl-3{
    background-size: cover;
    height: 300px;
  }

  #slider #sl-1{
    background: url('../img/sl1.png');
    background-position: center;
    opacity: .9;
    background-size: cover;
  }

  #slider #sl-2{
    background: url('../img/sl2.png');
    background-position: center;
    background-size: cover;
  }

  #slider #sl-3{
    background: url('../img/sl3.png');
    background-position: 75%;
    background-size: cover;
  }

  #slider .slide-item img{
    //display: none;
    opacity: 0;
    //min-width: 500px !important;
    //position: absolute;
    //clip: rect(200px,200px,200px,200px) !important;
    //clip: rect(0px,60px,200px,0px);
  }

  #slider .slide-item .slide-contenido h2{
    font-size: 2.8em;
  }

  #slider .slide-item .slide-contenido .h-small{
    font-size: 2em;
  }
  #slider .slide-item .slide-contenido p{
    display: none;
  }

  #slider .slide-item .slide-contenido a{
    //font-size: 15px !important;
    //width: 200px;
    //margin-top: 10px;
    display: none;
  }

  #areas{
      margin-top: 7px !important;
  }
  .banner h2{
    text-align: center !important;
  }

  
}

@media screen and (max-width: 680px) {
  #slider{
   //top: 50px;
   //height: 180px;
  }

  #areas a{
    width: 250px !important;
    font-size: 18px !important;
  }
}

